{% extends "base.html" %}

{% block content %}
<h2>How this site came to be</h2>
I have always loved quotes. They exemplify the best use of the English language, and usually express a thought more concisely than anything I could say myself. I started collecting them as a teenager, and my collection became somewhat unusable. With my burgeoning love of computers I decided that a website would be a great way to maintain the collection and have the benefit of allowing me to share my collection with others. I hope you enjoy!
{% endblock content %}
