{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Quote Library{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block css %}
    <link href='http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <div id="wrap">
      <header id="header">
        <hgroup>
          <h1><a href="{% url 'home' %}" class="linkhidden">Adam's Quotes</a></h1>
        </hgroup>
      </header>
      <nav id="navigation">
        <ul>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'authors:list' %}">Authors</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
          {% endif %}
        </ul>
      </nav>
      <section id="content">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
      </section> <!-- End content -->
      <footer id="footer">
        &copy;2011 Adam Jackman - <a mailto="admin@acjackman.com" class="showlink">Contact Me</a> <br />
        Find some out more about me at <a herf="http://acjackman.com">acjackman.com</a>
      </footer>
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      {% block javascript %}
        <script src="{% static 'js/project.js' %}"></script>
      {% endblock javascript %}
    </div>
  </body>
</html>
